:root {
  --theme-primary-color: #b84252;
  --theme-secondary-color: #7351c4;
  --theme-third-color: #f0f0f0;
  --link-hover-color: rgba(218, 218, 218, 0.438);
}

$size-l: 20px;
$size-m: 15px;
$size-s: 10px;
$size-xs: 5px;

/*mixins*/
@mixin flex-container($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin line-clamp($row, $orientation, $overflow) {
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: $orientation;
  -webkit-line-clamp: $row;
  overflow: $overflow;
}

/*styles*/

*,
html,
body {
  font-family: "Urbanist", sans-serif !important;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #f1f1f1;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  &.MuiAppBar-colorPrimary {
    background-color: var(--theme-primary-color);

    a {
      text-decoration: none;
      color: var(--theme-third-color);
      transition: all ease-in-out 0.2s;
      padding: $size-s;
      border-radius: $size-xs;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        background-color: var(--link-hover-color);
      }
    }
  }
}

.nav-link-active {
  opacity: 0.7;
  background-color: var(--link-hover-color);
  border-radius: 15px;
}

.drawer-link-active {
  opacity: 0.8;
  background-color: var(--theme-primary-color);
  border-radius: 15px;

  &,
  path {
    color: var(--theme-third-color) !important;
  }
}

//footer styles
footer {
  &.MuiBox-root {
    background-color: var(--theme-primary-color);
    color: var(--theme-third-color);

    div a {
      color: var(--theme-third-color);
    }
  }

  .MuiDivider-root {
    margin: $size-l auto;
    background-color: var(--theme-third-color);
  }

  .MuiTypography-colorPrimary {
    transition: all ease-in-out 2.2s;
    color: var(--theme-third-color);
  }
}

#root footer {
  margin-top: auto;
}

//form container
.custom-form-container {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.custom-form-actions button {
  margin: 0 5px;
}

#image-container {
  width: 100%;
  text-align: right;
}

.custom-file-upload {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 6px 12px;
  cursor: pointer;
}

div[role="alert"] {
  margin: 16px 0;
}

.image-link {
  margin-left: 16px !important;
}

/* not logged in alert */
.login-alert {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, 0);
  width: 1;
  width: calc(100vw - 30%);
  justify-content: space-around;
  font-size: 20px !important;
  max-width: 550px;

  .MuiAlert-icon {
    display: flex;
    align-items: center;
  }

  a:hover {
    cursor: pointer;
  }
}

/* image styles */
.poster-image {
  max-height: 300px;
}

// readlist styles
.readlist-image {
  max-width: 50%;
  min-height: 100%;
  min-width: 50%;
}

.readlist-details {
  @include line-clamp(3, vertical, hidden);
  text-overflow: ellipsis;
  padding: 0 !important;
}

.toggler {
  cursor: pointer;
}
//

.user-select-menu {
  padding: $size-l;

  a {
    color: var(--theme-primary-color);
    text-decoration: none;
  }
}

/*description field styling*/
.description {
  &-part {
    @include line-clamp(2, vertical, hidden);
  }

  &-full {
    text-indent: ($size-l * 2) + 8;
    display: inline-block;
    text-align: justify;
  }
}
//

.btn-spacing-right {
  margin-right: $size-s !important;
}

//edit/delete button
div {
  .read,
  .edit,
  .delete {
    padding: $size-xs;
    border-radius: $size-l;
    transition: ease-in-out 0.2s;
  }

  .edit,
  .delete {
    background-color: var(--theme-third-color);
    font-size: $size-l;

    &,
    a {
      @include flex-container(center, center);
    }
  }

  .edit {
    margin-right: $size-s;
    color: var(--theme-secondary-color);
    &:hover,
    &:active,
    &:focus {
      background-color: var(--theme-secondary-color);

      a {
        color: var(--theme-third-color);
      }
    }
  }

  .delete {
    color: var(--theme-primary-color);
    &:hover,
    &:active,
    &:focus {
      background-color: var(--theme-primary-color);
      color: var(--theme-third-color);
    }
  }

  //detail page
  .detail-page-actions {
    .edit,
    .delete {
      svg {
        font-size: 1.5 * $size-l;
      }
    }
  }
}

//user profile styles
.user-profile {
  .MuiContainer-root {
    height: 100%;
  }

  .profile-intro {
    background: linear-gradient(
      to right,
      var(--theme-primary-color),
      var(--theme-secondary-color)
    );
    color: var(--theme-third-color);
    .user-image {
      border-radius: 50%;
    }
  }

  .profile-data {
    h6 {
      @include line-clamp(4, vertical, initial);
    }

    .verification {
      @include flex-container(start, center);
    }
    .verified {
      svg {
        margin-left: $size-xs;
        color: green;
      }
    }

    .not-verified {
      svg {
        margin-left: $size-xs;
      }
    }
  }
}

//drawer styles
.drawer-link {
  color: var(--theme-primary-color);
  text-decoration: none;
  width: 100%;
  flex-direction: row;
  @include flex-container(center, center);
}

//search field styles
.search-input {
  width: 100%;
}

//pagination styles
.pagination {
  @include flex-container(center, center);
  margin: $size-l * 2 0 0;
}

.paginationItem {
  background: var(--theme-third-color);
  border: 2px solid var(--theme-secondary-color);
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: var(--theme-secondary-color);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid var(--theme-primary-color);
  color: var(--theme-primary-color);
  pointer-events: none;
}
.hidden {
  display: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: var(--theme-primary-color);
}

/*editor styles*/
.wrapper-class {
  border-radius: 5px;

  .rdw-editor-toolbar .toolbar-class {
    display: flex;
    flex-wrap: wrap;
  }
}

.editor-class {
  border: 1px solid grey;
  padding: 15px;
}

.toolbar-class {
  background-color: var(--theme-primary-color);
  border: 1px solid grey;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 !important;

  &,
  .rdw-inline-wrapper,
  .rdw-option-wrapper,
  .rdw-fontsize-wrapper,
  .rdw-block-wrapper,
  .rdw-fontfamily-wrapper,
  .rdw-fontfamily-wrapper,
  .rdw-text-align-wrapper,
  .rdw-colorpicker-wrapper,
  .rdw-list-wrapper,
  .rdw-link-wrapper,
  .rdw-history-wrapper {
    cursor: pointer;
    border-radius: 2px;
    @include flex-container(center, center);
    margin: 2px;
  }

  .rdw-option-wrapper {
    background-color: white;
    padding: 2px;
    border: 1px solid grey;
    @include flex-container(center, center);
    height: 20px;
  }

  .rdw-fontsize-wrapper,
  .rdw-block-wrapper,
  .rdw-fontfamily-wrapper {
    position: relative;
    background-color: white;
    height: 20px;
    padding: 2px;
    border: 1px solid grey;
  }

  .rdw-dropdown-optionwrapper,
  .rdw-emoji-modal {
    list-style-type: none;
    position: absolute;
    z-index: 10;
    background-color: white;
    top: 0;
    padding: 0;
    transition: all ease-in-out 0.2s;
    box-shadow: 0 2px 4px;
    border-radius: 5px;
    text-align: center;

    .rdw-dropdownoption-default {
      padding: 5px;
      &:hover {
        background-color: var(--theme-primary-color);
        color: var(--theme-third-color);
      }
    }
  }
}
